
<ul>
  <li><a href="services" data-text="Ce qu'on peut faire pour vous ? Bonne question...">Nos Services</a></li>
  <li><a href="equipe" data-text="Une belle équipe de bras cassés">L'équipe</a></li>
  <li><a href="realisations" data-text="Jetez-y un oeil (ou deux)">Nos Réalisations</a></li>
  <li><a href="contact" data-text="Disponibles h24 7/7 (surtout Tanguy) alors n'hésitez pas">Contactez-nous</a></li>
</ul>
